extends ../layout/default

block content
    .motos-container
        .motos-header
            h1 MOTOS
            p Aquí podrás encontrar todos los modelos de motocicletas disponibles en nuestros puntos de venta. Elige la categoría y encuentra tu moto.

        .motos-content
            .motos-categorias
                .categorias-menu
                    .categoria-item.active(data-categoria="todas") Todas
                    .categoria-item(data-categoria="automaticas-semiautomaticas") Automáticas y semiautomáticas
                    .categoria-item(data-categoria="urbanas-trabajo") Urbanas y de trabajo
                    .categoria-item(data-categoria="todo-terreno") Todo terreno
                    .categoria-item(data-categoria="deportivas") Deportivas
                    .categoria-item(data-categoria="super-deportivas") Súper deportivas
                    .categoria-item(data-categoria="sport-heritage") Sport Heritage
                    .categoria-item(data-categoria="adventure") Adventure
                    .categoria-item(data-categoria="motocross-enduro") Motocross y enduro

            .motos-listado
                each moto in motos
                    .moto-card
                        img(src=moto.imagen, alt=moto.nombre)
                        .moto-info
                            h3 #{moto.nombre}
                            a.btn.btn--small(href=`/motos/${moto.slug}`) Ver más
