extends ../layout/default
block content
    // videojuego scratch 
    <iframe src="https://scratch.mit.edu/projects/1168122542/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
    //avatar introductorio a motofacil
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LdHLyTxaPdE?si=_vdoJji1y36AOKJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    //video de appinventor de appmovil
    //kahoot de la app de motofacil
    <iframe src="https://kahoot.it/embed/0f8b1c2d-3a4e-4f5b-9c6c-7d8e9f0a1b2c" width="100%" height="600" frameborder="0" allowfullscreen></iframe>