doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Tienda de Motos | #{title}
        link(rel="stylesheet" href="/css/style.css")
    body
        header.header
            .container
                .header__logo
                    a(href="/")
                        img(src="/img/MOTOFONDO1.png" alt="Logo Tienda de Motos")
                nav.header__nav
                    ul
                        li
                            a(href="/") Inicio
                        li.nav-item-dropdown
                            a(href="#") Motos
                            .dropdown-menu
                                .dropdown-content
                                    .dropdown-column
                                        h3 Categorías
                                        ul
                                            li
                                                a(href="/motos/automaticas-semiautomaticas") Automáticas y semiautomáticas
                                            li
                                                a(href="/motos/urbanas-trabajo") Urbanas y de trabajo
                                            li
                                                a(href="/motos/todo-terreno") Todo terreno
                                            li
                                                a(href="/motos/deportivas") Deportivas
                                            li
                                                a(href="/motos/super-deportivas") Súper deportivas
                                            li
                                                a(href="/motos/adventure") Adventure
                                    .dropdown-column
                                        h3 Marcas Populares
                                        ul
                                            li
                                                a(href="/marcas/yamaha") Yamaha
                                            li
                                                a(href="/marcas/bajaj") Bajaj
                                            li
                                                a(href="/marcas/akt") AKT
                                            li
                                                a(href="/marcas/honda") Honda
                                    .dropdown-column
                                        h3 Ofertas Especiales
                                        ul
                                            li
                                                a(href="/motos/ofertas") Motos en Promoción
                                            li
                                                a(href="/financiamiento") Opciones de Financiamiento
                        li
                            a(href="/tecnologias") Tecnologías
                        li
                            a(href="/infomotos") Mas Informacion
                        li
                            a(href="/contacto") Contacto

        main.main
            block content

        footer.footer
            .container
                .footer__info
                    h3 Tienda de Motos
                    p Tu distribuidor oficial de motocicletas
                    p Contacto: info@tiendamotos.com
                    p Teléfono: +34 123 456 789

                .footer__links
                    h3 Enlaces rápidos
                    ul
                        li
                            a(href="/") Inicio
                        li
                            a(href="/motos") Catálogo
                        li
                            a(href="/calculadora") Calculadora
                        li
                            a(href="/comparador") Comparador
                        li
                            a(href="/multimedia") Multimedia

                .footer__social
                    h3 Síguenos
                    .social-icons
                        a(href="#" target="_blank")
                            i.social-icon Facebook
                        a(href="#" target="_blank")
                            i.social-icon Instagram
                        a(href="#" target="_blank")
                            i.social-icon Twitter

                .footer__legal
                    a(href="/reglamento") Reglamento
                    a(href="/asesoria") Asesoría

            .footer__copyright
                p &copy; #{new Date().getFullYear()} Tienda de Motos. Todos los derechos reservados.

        script(src="/js/script.js")
        