doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Tienda de Motos | #{title}
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" rel="stylesheet")
    body    
        header.header
            .container
                .header__logo
                    a(href="/")
                        img(src="/img/LOGO.jpg" alt="Logo Tienda de Motos")
                button.menu-toggle#menuToggle ☰
                .header__nav#mainNav
                    ul
                        li
                            a(href="/") Inicio
                        li.nav-item-dropdown
                            a(href="/motos") Motos
                            .dropdown-menu
                                .dropdown-content
                                    ul.dropdown-column
                                        h3 Categorías
                                        ul
                                            li
                                                a(href="/motos/automaticassemiautomaticas") Automáticas y semiautomáticas
                                            li
                                                a(href="/motos/urbanastrabajo") Urbanas y de trabajo
                                            li
                                                a(href="/motos/todoterreno") Todo terreno
                                            li
                                                a(href="/motos/deportivas") Deportivas
                                            li
                                                a(href="/motos/adventure") Adventure
                        li
                            a(href="/Tecnologias") Tecnologías
                        li
                            a(href="/multimedia") Contenido Multimedia
                        li
                            a(href="/Contacto") Contacto
        main.main
            block content

        footer.footer
            .container
                .footer__info
                    h3 Tienda de Motos
                    p Tu distribuidor oficial de motocicletas
                    p Contacto: info@tiendamotos.com
                    p Teléfono: +34 123 456 789

                .footer__links
                    h3 Enlaces rápidos
                    ul
                        li
                            a(href="/") Inicio
                        li
                            a(href="/motos") Catálogo
                        li
                            a(href="/calculadora") Calculadora
                        li
                            a(href="/comparador") Comparador
                        li
                            a(href="/multimedia") Multimedia

                .footer__social
                    h3 Síguenos
                    .social-icons
                        a(href="#" target="_blank")
                            i.fab.fa-facebook-f.social-icon
                        a(href="#" target="_blank")
                            i.fab.fa-instagram.social-icon
                        a(href="#" target="_blank")
                            i.fab.fa-twitter.social-icon

        script.
            // Mostrar/ocultar el menú hamburguesa
            document.getElementById("menuToggle").addEventListener("click", function () {
                document.getElementById("mainNav").classList.toggle("active");
            });

            // Alternar visibilidad del dropdown solo en móviles
            document.querySelectorAll('.nav-item-dropdown > a').forEach(toggle => {
                toggle.addEventListener('click', e => {
                    if (window.innerWidth <= 768) {
                        e.preventDefault();
                        const menu = toggle.nextElementSibling;
                        menu.style.display = (menu.style.display === 'flex' || menu.style.display === '') ? 'none' : 'flex';
                    }
                });
            });
        script(src="/js/script.js")
